# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory-based node_modules
node_modules/

# Built app
dist/
build/

# Dependencies
.vscode/settings.json
.idea
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store
*.pnp
.pnp.js

# Testing
/coverage

# Vite
vite.config.ts
.env*
!.env.example

